web/_site/*
web/src/js/presto.js
web/src/js/presto.min.js
web/src/js/presto.coffee
web/src/js/src/presto.coffee
web/src/js/_site
desktop/io/*
desktop/write.py
desktop/application/PyGTK/*
desktop/application/examples/*
*.pyc
