* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Menlo', monospace;
	font-size: 13px;
}
textarea, #result {
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	height: 100%;
	border: none;
	padding: 12px;
	font-family: 'Menlo', monospace;
	font-size: 13px;
}
textarea {
	outline: none !important;
}
#result {
	border-left: 1px solid #ddd;
	background: #f6f6f6;
	color: #888;
	overflow: auto;
}
